@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400|Material+Icons');

body {
    background-color: white;
    max-width: 836px;
    margin: auto;
    text-align: justify;
}

 a {
     color: #4285F4;
     text-decoration: none;
     font-weight: 400;
 }

 .content {
    margin: 4em 2em;
 }

 li {

     line-height: 1.8em;
 }

 p.imprint {
    text-align: center;
 }

 p.imprint a {
    font-size: 0.8em;
    font-weight: 200;
 }

 * {
     font-family: Roboto;
     font-weight: 300;
 }

 p {
     padding-left: 1em;
     line-height: 1.8em;
 }

 h1 {
    text-align: center;
     color: #4285F4;
     font-size: 3.5em;
 }

 sup {
    vertical-align: super;
    font-size: x-small;
}

b {
    font-family: Roboto;
    font-weight: 400;
}
